.weather.symbol {
  width: 100%;
  height: 128px;
  margin: 0 auto;
}

.symbol {
  background-repeat: no-repeat;
  background-position: center center;

  &.sun {
    background-image: url("../img/icons/1.png")
  }

  &.lightcloud {
    background-image: url("../img/icons/2.png")
  }

  &.partlycloud {
    background-image: url("../img/icons/3.png")
  }

  &.cloud {
    background-image: url("../img/icons/4.png")
  }

  &.lightrainsun {
    background-image: url("../img/icons/5.png")
  }

  &.lightrunthundersun {
    background-image: url("../img/icons/6.png")
  }

  &.sleetsun {
    background-image: url("../img/icons/7.png")
  }

  &.snowsun {
    background-image: url("../img/icons/8.png")
  }

  &.lightrain {
    background-image: url("../img/icons/9.png")
  }

  &.rain {
    background-image: url("../img/icons/10.png")
  }

  &.rainthunder {
    background-image: url("../img/icons/11.png")
  }

  &.sleet {
    background-image: url("../img/icons/12.png")
  }

  &.snow {
    background-image: url("../img/icons/13.png")
  }
}

.night .symbol {
  &.sun {
    background-image: url("../img/icons/1_night.png")
  }

  &.lightcloud {
    background-image: url("../img/icons/2_night.png")
  }

  &.partlycloud {
    background-image: url("../img/icons/3_night.png")
  }

  &.lightrainsun {
    background-image: url("../img/icons/5_night.png")
  }

  &.lightrunthundersun {
    background-image: url("../img/icons/6_night.png")
  }
}