html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.fill {
  width: 100%;
  height: 100%;
}

.fullscreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

@import "views/pageFlip";
@import "views/sky";
@import "views/satellites";
@import "views/date-time";