html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.fill {
  width: 100%;
  height: 100%;
}

.fullscreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

@import "views/pageFlip";
@import "views/sky";
@import "views/satellites";
@import "views/date-time";


.date-flip {
  margin-top: 50%;
  height: 70px;
}

.view {
  width: 100%;
  text-align: center;
  font-family: sans-serif;  
  -webkit-transform: translate(0);
}

.day-sky {
  .view {
    color: black;
  }
}

.night-sky {
  .view {
    color: white;
  }
}
