// Basic Reset


h1,h2,h3 {
  margin: 0;
  padding: 0;
  pointer-events: none;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  background: black;
  font-size: 1.4rem;
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}


.fill {
  width: 100%;
  height: 100%;
}

.fullscreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.view {
  width: 100%;
  text-align: center;
}


@import "views/pageFlip";
@import "views/sky";
@import "views/satellites";
@import "weather";

.day {
  color: #333;
}

.night {
  color: white;
}


// Layout
.current-conditions {
  position: relative;
  margin-top: 10%;
  width: 100%;

  #view-symbol {
    width: 100%;
    height: 150px;
    .weather {
      width: 100%;
      height: 100%;
      font-size: 128px;
      text-align: center;
    }
  }
  #view-temperature {
  }
}

.date-time {
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 10px;

  #time-view {
    position: absolute;
    height: 40px;
    top: 0;
  }
  #date-view {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
  }
}

// Aesthetic - MOVE
#time-view {
  font-size: 1.5rem;
}
#date-view {
  font-size: 1.0rem;
}
#view-temperature {
  .value {
    font-size: 5rem;
  }
  .unit {
    line-height: 40px;
    vertical-align: text-top;
    position: absolute;
    font-weight: normal;
  }
}