html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.fullscreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.date-time {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  
  h1 {

  }
  h2 {

  }
}